.container-content {
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*   HEADER   */
.header-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  padding: 1.75rem 1rem;
}

.nav-menu {
  place-self: center start;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2px;
  
}
.nav-menu li a {
  color: var(--cor-secundaria);
  font-size: 0.95rem;
  border-bottom: 2px solid none;
  font-weight: 500;
  &:hover {
    border-bottom: 2px solid #D15E88;
  }
}

.nav-icons {
  place-self: center end;
  display: flex;
  gap: 1.2rem;
  & img {
    width: 1.35rem;
    max-width: 100%;
    display: block;
  }
}

/* BANNER INICIO */

.banner-bg {
  background-color: var(--cor-primaria);
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  align-items: center;
  justify-items: center;
  padding: 0rem 1rem;
  & img {
    max-width: 100%;
  }
}

.banner-intro {
  place-self: center;
  padding-bottom: 1rem;
  & h1 {
    font-size: 3.4rem;
    font-weight: 300;
    padding: 20px 0;
    color: var(--cor-texto1);
    line-height: 3.5rem;
    & strong {
      font-weight: 400;
    }
  }
  & p {
    font-size: 1.25rem;
    padding: 10px 0;
    color: var(--cor-texto1);
  }
  & a {
    color: var(--cor-texto2);
    font-size: 0.875rem;
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 26px;
    display: inline-block;
    margin: 10px 0;
    &:hover {
      background-color: #d15e885b;
    }
  }
}

.banner-img {
  place-self: center;
  & img {
    max-width: 100%;
  }
}

/*   CATEGORIAS   */

.categorias {
  text-align: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.categorias-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & li img {
    border-radius: 50%;
    padding: 4px;
    max-width: 100%;
    border: 3px solid var(--cor-primaria);
    max-height: 180px;
    cursor: pointer;
    &:hover {
      border: 3px solid #FF66C4;
    }
  }

  & li p {
    font-size: 1.15rem;
    font-weight: 500;
    margin-top: 0.5rem;
    cursor: pointer;
  }
}

/*  PROMOCOES e PRODUTOS */

.promocoes {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 1rem;
  & img {
    max-width: 100%;
    cursor: pointer;
  }
}

.produtos-principais {
  display: grid;
  padding: 0 1rem;
  & h2 {
    place-self: center;
    font-size: 1.15rem;
    font-weight: 500;
    margin-top: 0.5rem;
    padding-bottom: 2rem;
  }
}
.lista-produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.2rem;
}

.lista-produtos li {
  display: grid;
  gap: 5px;
  border: 1px solid var(--cor-primaria);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  & span {
    color: var(--cor-secundaria);
    font-size: 0.85rem;
    font-weight: 500;
  }
  & h3 {
    font-weight: 600;
  }
  & img {
    max-width: 100%;
    border-radius: 8px;
  }
  & p {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

.produtos-mais {
  place-self: center;
  color: var(--cor-texto2);
  font-size: 0.875rem;
  background-color: var(--cor-secundaria);
  padding: 1rem;
  border-radius: 26px;
  display: inline-block;
  margin: 10px 0;
  &:hover {
    background-color: #c8837d;
  }
}

.banner-divulgacao {
  padding: 0 1rem;
  box-sizing: border-box;
  & img {
    max-width: 100%;
  }
}
/*      FOOTER     */

.footer-bg {
  background-color: var(--cor-secundaria);
}
.footer-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  padding: 4rem 1rem 2rem 1rem;
  gap: 1.25rem;
}

.adress {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.25rem 0.625rem;
  place-self: start;
}
.adress li {
  color: var(--cor-texto2);
  font-size: 1rem;
  font-size: 500;
  font-weight: 500;
}

.footer-menu {
  display: grid;
  gap: 1.25rem;
}
.footer-menu a {
  font-size: 0.875rem;
  color: var(--cor-texto2);
  font-weight: 500;
}

.service-time {
  display: grid;
  gap: 0.675rem;
  place-self: end;
  justify-items: center;
}
.service-time li {
  font-size: 0.875rem;
  color: var(--cor-texto2);
  font-weight: 500;
}
.service-time img:first-child {
  height: 32px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  place-self: center;
}
.social img {
  width: 22px;
}

/* RESPONSIVO */

@media (max-width: 1000px) {
  .banner-intro {
    & h1 {
      font-size: 2.5rem; /* Mantido */
      line-height: 2.5rem; /* Mantido */
      padding: 10px 0;
      text-align: center; /* Centraliza o título */
    }
    & p {
      font-size: 1.15rem; /* Mantido */
      text-align: center; /* Centraliza o texto */
    }
  }
  .categorias-lista {
    display: grid; /* Muda para grid */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Adiciona espaçamento entre as categorias */
    & li {
      text-align: center; /* Centraliza o texto */
    }
    & li img {
      max-height: 220px; /* Aumentado de 200px para 220px */
      width: auto; /* Para manter a proporção */
    }
    & li p {
      font-size: 1.5rem; /* Mantido */
    }
  }
}

@media (max-width: 800px) {
  
  .banner-intro {
    & h1 {
      font-size: 2rem; /* Mantido */
      line-height: 2rem; /* Mantido */
      padding: 10px 0;
      text-align: center; /* Centraliza o título */
    }
    & p {
      font-size: 1rem; /* Mantido */
      padding: 0.5rem;
      text-align: center; /* Centraliza o texto */
    }
  }
  .categorias-lista {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 15px; /* Adiciona espaçamento entre as categorias */
    & li img {
      max-height: 200px; /* Aumentado de 180px para 200px */
    }
    & li p {
      font-size: 1.3rem; /* Mantido */
    }
  }
  .lista-produtos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 685px) {
  .header-nav {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .nav-menu {
    display: none;
  }
  .nav-icons {
    place-self: center;
    padding-top: 1.2rem;
  }
  .banner-intro {
    & h1 {
      font-size: 1.5rem; /* Mantido */
      text-align: center; /* Centraliza o título */
    }
    & p {
      display: none; /* Mantido */
    }
    & a {
      padding: 0.75rem;
      text-align: center;
    }
  }

  .categorias {
    padding: 1rem 1rem;
  }
  .categorias-lista {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 10px; /* Adiciona espaçamento entre as categorias */
    & li {
      margin: 0; /* Remove margens */
    }
    & li p {
      font-size: 1.1rem; /* Mantido */
    }
    & li img {
      max-height: 160px; /* Aumentado de 140px para 160px */
    }
  }
}

@media (max-width: 575px) {
  .banner-intro {
    & h1 {
      font-size: 1.2rem; /* Mantido */
      font-weight: 600; /* Mantido */
      line-height: 1.2rem; /* Mantido */
      text-align: center; /* Centraliza o título */
    }
    & a {
      padding: 0.5rem;
      font-size: 0.75rem; /* Mantido */
    }
  }
  .categorias-lista {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 10px; /* Adiciona espaçamento entre as categorias */
    & li {
      margin: 0; /* Remove margens */
    }
    & li p {
      font-size: 1rem; /* Mantido */
    }
    & li img {
      max-height: 100px; /* Mantido */
    }
  }
  .promocoes {
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
  }
}

@media (max-width: 510px) {
  .categorias-lista {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 8px; /* Adiciona espaçamento entre as categorias */
    & li {
      margin: 0; /* Remove margens */
    }
    & li img {
      max-height: 80px; /* Mantido */
    }
  }

  .lista-produtos {
    grid-template-columns: 1fr 1fr;
  }

  .footer-div {
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }
  .footer-menu {
    display: flex;
    grid-row: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-menu a {
    padding: 0.625rem 1rem;
    border-radius: 4px;
  }
  .adress {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .adress img {
    display: none;
  }
  .adress,
  .service-time {
    place-self: center;
  }
}
